<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.modernstorage.sample_compose">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application android:name=".SampleApplication">

        <!--        <activity-->
        <!--            android:name=".MainActivity"-->
        <!--            android:exported="true"-->
        <!--            android:label="@string/title_activity_main"-->
        <!--            android:theme="@style/Theme.ModernStorage.NoActionBar" />-->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.ModernStorage.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
